extends layout

block content
    div.explaination
        p Minqing Hu and Bing Liu. "Mining and Summarizing Customer Reviews." 
        p &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Proceedings of the ACM SIGKDD International Conference on Knowledge 
        p &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;   Discovery and Data Mining (KDD-2004), Aug 22-25, 2004, Seattle, 
        p  &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;    Washington, USA, 
        p Bing Liu, Minqing Hu and Junsheng Cheng. "Opinion Observer: Analyzing 
        p  &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;    and Comparing Opinions on the Web." Proceedings of the 14th 
        p  &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;   International World Wide Web conference (WWW-2005), May 10-14, 
        p  &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;    2005, Chiba, Japan.

        p Notes: 
        p  &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;   1. The appearance of an opinion word in a sentence does not necessarily  
        p  &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;     mean that the sentence expresses a positive or negative opinion. 
        p  &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;     See the paper below:

        p  &nbsp;&nbsp;&nbsp;&nbsp;      Bing Liu. "Sentiment Analysis and Subjectivity." An chapter in 
        p  &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;        Handbook of Natural Language Processing, Second Edition, 
        p  &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;        (editors: N. Indurkhya and F. J. Damerau), 2010.

        p  &nbsp;&nbsp;&nbsp;   2. You will notice many misspelled words in the list. They are not 
        p  &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;     mistakes. They are included as these misspelled words appear 
        p  &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;     frequently in social media content. 

