extends layout

block content
  h1= title
  p Input your twitter name
  form.row(method='get' action='twitter')
    .col-md-12
      .block
          input(type="text", placeholder="yourname")
          a(href="/test") test
