extends layout

block content
  h1= title
  p Input your twitter name
  form.row(method='post' action='/searchname')
    .col-md-12
      .block
          input(type="text", placeholder="Screen Name", name="screen_name")
          button(type='submit') submit 

  each tweet in info ? info : ['']
    div.row
       div.col-md-8=tweet.text
       

