extends layout

block content
  h1= title
  p Input your twitter name
  form.row(method='get' action='/twitter')
    .col-md-12
      .block
          input(type="text", placeholder="Screen Name", name="screen_name")
          button(type='submit') test

  each tweet in info.length ? info : ['']
    p= tweet.text
