extend layout

block content
    div.answers
        h3 Positive Feedback: 
        h3= positive
        h3 Negative Feedback:
        h3= negative


    each tweet in info ? info : ['']
        div(class="row spacing")
            div(class="col tweets")
                p= tweet.text



