body {
  background-image: url(/img/wood.jpg);
  background-size: cover;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}
.title,p { color: white; 
   font-family: "Georgia", serif; 
}
.middle
{
   left: 0;
   margin: auto;
   margin-top: -100px;
   position: absolute;
   top: 50%;
   width: 100%;
}

.words
{
    text-align: center;
}

h3
{
    color: white !important;
    text-align: center;
}

a {
  color: #00B7FF;
}

.space {
    padding-top: 25px;
}

.spacing
{
    padding: 15px;
}

.tweets
{
    text-align: center;
    padding: 20px;
    background-color:rgba(0, 0, 0, 0.3);
}

.answers
{
    padding-top: 10%;
    padding-bottom: 10%;
}

.explaination
{
    padding-top: 300px;
    text-align: left;
}
